.content{
    background-color: #f5f8fb;
}
.content_title img{
    width:100%;
}
.detail_view{
    padding: 88px 252px 0 252px;
    background-color: #fff;
}
.detail_view > h1{
    text-align: center;
    color: #00021D;
    font-size: 28px;
    font-weight: 600;
}
.detail_view p{
    margin-top: 32px;
    font-size: 16px;
    color: #666666;
    line-height: 26px;
    text-align: justify;
    letter-spacing: 0;
    font-weight: 400;
}

.main_product{
    width: 1440px;
    margin: 0 auto;
    background-color: #f5f8fb;
}
.title_view{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 64px;
    background-color: #fff;
}
.title_view > h1{
    color: #00021D;
    font-size: 28px;
    font-weight: 600;
}
.title_view >p{
    font-size: 16px;
    color: #666666;
    margin-top: 24px;
    font-weight:300;
}
.main_product > .product_content{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    padding: 64px 0;
}
.main_product > .product_content > .item{
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.main_product > .product_content > .item img{
    width: 100%;
    margin: 0 auto;
}
.main_product > .product_content > .item >.bottom{
    background-color: #fff;
    padding-bottom: 41px;
}
.main_product > .product_content > .item >.bottom h2{
    font-size: 24px;
    color: #00021D;
    padding: 40px  0 24px;
    font-weight: 600;
}
.main_product >.product_content>.item>.bottom>p{
    font-size: 18px;
    color: #666666;
    padding: 0 32px;
    line-height: 29px;
    font-weight: 400;
    letter-spacing: 0;
    text-align: center;
}
.team_title{
    text-align: center;
    background-color: #fff;
    padding: 120px 0 64px;
}
.team{
    width: 1440px;
    margin: 0 auto;
}
.team_title > h1{
    color: #00021D;
    font-size: 28px;
    font-weight: 600;
}
.team_title > p{
    font-size: 18px;
    color: #666666;
    margin-top: 24px;
    font-weight: 300;
}

.info_view{
    width: 80%;
    margin: 0 auto;
    padding: 64px 0;
}
.info_view >li{
    overflow: hidden;
    margin-bottom: 89px;
}
.info_view >li:last-child{
    margin-bottom: 0;
}
.info_view >li >div:first-child img{
    width: 100%;
    max-width: 315px;
}
.info_view >li >div:last-child > p:nth-child(1){
    font-size: 24px;
    color: #00021D;
    font-weight: 500;
}
.info_view >li >div:last-child > p:nth-child(2){
    font-size: 18px;
    color: #00021D;
    margin-top: 16px;
    font-weight: 500;
}
.info_view >li >div:last-child > p:nth-child(3){
    font-size: 18px;
    color: #666666;
    margin-top: 48px;
    line-height: 29px;
    text-align: justify;
    letter-spacing: 0;
}
.phone-view{
    display: none;
}
.pc-view{
    display: block;
}

@media screen and (max-width: 640px){
    .detail_view{
        padding: 44px 16px 0;
        background-color: #fff;
    }
    .detail_view > h1{
        text-align: center;
        color: #00021D;
        font-size: 22px;
    }
    .detail_view p{
        margin-top: 16px;
        font-size: 14px;
        color: #666666;
    }
    .title_view{
        text-align: center;
        padding-top: 48px;
        padding-bottom: 32px;
        padding-left: 32px;
        padding-right: 32px;
        background-color: #fff;
    }
    .title_view > h1{
        color: #00021D;
        font-size: 22px;
    }
    .title_view >p{
        font-size: 14px;
        color: #666666;
        margin-top: 16px;
    }
    .main_product{
        width: 100%;
        max-width: 640px;
        min-width: 320px;
        margin: 0 auto;
        background-color: #f5f8fb;
    }
    .team_title{
        text-align: center;
        background-color: #fff;
        padding: 54px 32px 32px;
    }
    .team{
        width: 100%;
        max-width: 640px;
        min-width: 320px;
        margin: 0 auto;
    }
    .team_title > h1{
        color: #00021D;
        font-size: 22px;
    }
    .team_title > p{
        font-size: 14px;
        color: #666666;
        margin-top: 16px;
    }

    .info_view{
        width: 100%;
        margin: 0 auto;
        padding: 32px 0;
    }
    .info_view >li{
        overflow: hidden;
        margin-bottom: 48px;
    }
    .info_view >li:last-child{
        margin-bottom: 0;
    }
    .info_view >li >div:first-child img{
        width: 100%;
        max-width: 640px;
    }
    .info_view >li >div:last-child > p:nth-child(1){
        margin-top: 24px;
        font-size: 20px;
        color: #00021D;
    }
    .info_view >li >div:last-child > p:nth-child(2){
        font-size: 16px;
        color: #00021D;
        margin-top: 16px;
    }
    .info_view >li >div:last-child > p:nth-child(3){
        font-size: 14px;
        color: #666666;
        margin-top: 32px;
    }
    .phone-view{
        display: block;
    }
    .pc-view{
        display: none;
    }
    .middle-scroll{
        padding: 40px 16px 43px;
    }
    .swiper-slide{
        background-color: #fff;
        height: 437px;
    }
    .swiper-slide > .bottom{
        text-align: center;
        padding: 0 30px;
    }
    .swiper-slide > .bottom > h2{
        font-size: 23px;
        margin-top: 37px;
        font-weight: 600;
    }
    .swiper-slide > .bottom > p{
        font-size: 17px;
        margin-top: 22px;
        font-weight: 400;
        line-height: 28px;
    }

    .swiper-pagination{
        width: 100%;
        margin-top: 4px;
    }
    .swiper-pagination-bullet{
        background-color: rgba(13,76,154,1);
        opacity: 0.49;
        width: 20px;
        height: 2px;
        margin-right: 12px;
        border-radius: 1px;
    }
    .swiper-pagination-bullet-active {
        background-color: rgba(13,76,154,1) !important;
        opacity: 1;
    }
    .swiper-pagination{
        text-align: center;
    }
}

