.content{
    background-color: #f5f8fb;
}
.content_title img{
    width:100%;
}
.detail_view{
    padding: 88px 252px 0 252px;
    background-color: #fff;
}
.detail_view > h1{
    text-align: center;
    color: #00021D;
    font-size: 28px;
}
.detail_view p{
    margin-top: 32px;
    font-size: 16px;
    color: #666666;
}

.main_product{
    width: 1440px;
    margin: 0 auto;
    background-color: #f5f8fb;
}
.title_view{
    text-align: center;
    padding-top: 120px;
    padding-bottom: 64px;
    background-color: #fff;
}
.title_view > h1{
    color: #00021D;
    font-size: 28px;
}
.title_view >p{
    font-size: 16px;
    color: #666666;
    margin-top: 24px;
}
.main_product > .product_content{
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
    padding: 64px 0;
}
.main_product > .product_content > .item{
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
}
.main_product > .product_content > .item img{
    width: 100%;
    margin: 0 auto;
}
.main_product > .product_content > .item >.bottom{
    background-color: #fff;
    padding-bottom: 41px;
}
.main_product > .product_content > .item >.bottom h2{
    font-size: 24px;
    color: #00021D;
    padding: 40px  0 24px;
}
.main_product >.product_content>.item>.bottom>p{
    font-size: 18px;
    color: #666666;
    padding: 0 32px;
}
.team_title{
    text-align: center;
    background-color: #fff;
    padding: 120px 0 64px;
}
.team{
    width: 1440px;
    margin: 0 auto;
}
.team_title > h1{
    color: #00021D;
    font-size: 28px;
}
.team_title > p{
    font-size: 18px;
    color: #666666;
    margin-top: 24px;
}

.info_view{
    width: 80%;
    margin: 0 auto;
    padding: 64px 0;
}
.info_view >li{
    overflow: hidden;
    margin-bottom: 89px;
}
.info_view >li:last-child{
    margin-bottom: 0;
}
.info_view >li >div:first-child img{
    width: 100%;
    max-width: 315px;
}
.info_view >li >div:last-child > p:nth-child(1){
    font-size: 24px;
    color: #00021D;
}
.info_view >li >div:last-child > p:nth-child(2){
    font-size: 18px;
    color: #00021D;
    margin-top: 16px;
}
.info_view >li >div:last-child > p:nth-child(3){
    font-size: 18px;
    color: #666666;
    margin-top: 48px;
}


