.content{
    min-width: 1440px;
}
.content_title{
    position: relative;
    width: 100%;
    overflow: hidden;
}
.content_title img{
    width: 100%;
}
.phone-class{
    display: none;
}
.pc-class{
    display: block;
}
.content_view{
    max-width: 1440px;
    margin: 88px auto 0;
    text-align: center;
}
.content > div:last-child{
    margin-top: 120px;
    margin-bottom: 88px;
}
.content_view > p:nth-child(1){
    font-size: 28px;
    color: #00021D;
}
.content_view > p:nth-child(2){
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 18px;
    color: #666666;
}
.col_view{
    overflow: hidden;
}
.content_view>.col_view >div{
    padding: 34px 72px 38px;
}
.content_view>.col_view >div >p:nth-child(2){
    font-size: 22px;
    color: #00021D;
    margin: 30px 0 16px;
}
.content_view>.col_view >div >p:last-child{
    font-size: 16px;
    color: #666666;
}

@media screen and (max-width: 640px){
    .content{
        min-width: 320px;
        max-width: 640px;
        width: 100%;
    }
    .content_view{
        max-width: 640px;
        margin: 44px auto 0;
        padding: 0 32px;
        text-align: center;
    }
    .content > div:last-child{
        margin-top: 49px;
        margin-bottom: 49px;
    }
    .content_view > p:nth-child(1){
        font-size: 22px;
        color: #00021D;
    }
    .content_view > p:nth-child(2){
        margin-top: 16px;
        margin-bottom: 32px;
        font-size: 14px;
        color: #666666;
    }
    .content_view>.col_view >div{
        padding: 23px 0;
    }
    .content_view>.col_view >div >p:nth-child(2){
        font-size: 15px;
        color: #00021D;
        margin: 22px 0 10px;
    }
    .content_view>.col_view >div >p:last-child{
        font-size: 11px;
        color: #666666;
    }
    .content_view>.col_view >div >img{
        width: 62px;
        height: 62px;
    }
    .phone-class{
        display: block;
    }
    .pc-class{
        display: none;
    }
}