.content_body{
    width: 80%;
    margin: 88px auto 120px;
    border-bottom:1px solid transparent ;
    overflow: hidden;
}
.content_body>p:first-child{
    font-size: 28px;
    text-align: center;
}
.content_body>p:nth-child(2){
    text-align: center;
    color: #666666;
    font-size: 18px;
    margin-top: 24px;
    margin-bottom: 64px;
}
.content_body img{
    width: 100%;
}
.content_body_img{
    overflow: hidden;
    margin-bottom: 24px;
}
.content_body_post{
    width:168px;
    height:42px;
    border: 1px solid #0D4C9A;
    color: #0D4C9A;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}
.content_body_post:hover{
    background: #0D4C9A;
    color: #fff
}