.findPassword_body_title {
    width: 100%;
    height: 72px;
    line-height: 72px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.08);
}

.findPassword_body_title div {
    display: inline-block;
    margin: 0 16px;
    position: relative;
    top: 10px;
    width: 2px;
    height: 36px;
    background: rgba(204, 204, 204, 1);
}

.findPassword_body_title span {
    width: 80px;
    height: 28px;
    font-size: 20px;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    line-height: 28px;
}

.findPassword_body_content {
    width: 360px;
    margin: 0 auto;
    height: 272px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.form-group {
    width: 100%;
}

.form-group input {
    height: 40px;
    border: 1px solid rgba(222, 222, 222, 1);
}

.findPassword_body_code {
    display: inline-block;
    width: 144px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border: 1px solid rgba(13, 76, 154, 1);
    border-radius: 5px;
    font-size: 16px;
    color: rgba(13, 76, 154, 1);
    cursor: pointer;
}

.findPassword_body_nextbtn {
    width: 100%;
    margin-top: 16px;
    background: rgba(13, 76, 154, 1);
    font-size: 16px;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.disabled {
    background-color: #ddd;
    border-color: #ddd;
    color: #57a3f3;
    cursor: not-allowed; 
}

.findPassword_body_suss{
    text-align: center;
}