.content_title img{
    width: 100%;
}
.phone-class{
    display: none;
}
.pc-class{
    display: block;
}
.content_view{
    max-width: 1440px;
    margin: 88px auto 0;
    text-align: center;
}
.content_view > p:nth-child(1){
    font-size: 28px;
    color: #00021D;
}
.content_view > p:nth-child(2){
    max-width: 936px;
    margin: 24px auto 88px;
    font-size: 18px;
    color: #666666;
}
.content_view>.col_view{
    max-width: 936px;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 188px;
    box-sizing: border-box;
    height: 332px;
    overflow: hidden;
}
.content_view>.col_view >div p{
    font-size: 22px;
    color: #00021D;
    margin-top: 28px;
}
.alert_view{
    width: 100%;
    box-sizing: border-box;
    margin: 132px auto 120px;
    height: 188px;
    background-color: #f1f5f9;
    padding: 38px 96px;
    position: relative;
    display: none;
}
.alert_view p{
    font-size: 16px;
}
.alert_view> .triangle{
    position: absolute;
    content: '';
    border-top: 10px solid transparent;
    border-right:10px solid transparent;
    border-bottom: 10px solid #f1f5f9;
    border-left: 10px solid transparent;
    top: -18px;
    left: 0px;
}

@media screen and (max-width: 640px){
    .phone-class{
        display: block;
    }
    .pc-class{
        display: none;
    }
    .content_view{
        max-width: 640px;
        min-width: 320px;
        margin: 44px auto 0;
        text-align: center;
    }
    .content_view > p:nth-child(1){
        font-size: 22px;
        color: #00021D;
    }
    .content_view > p:nth-child(2){
        max-width: 640px;
        padding: 0 30px;
        margin: 16px auto 42px;
        font-size: 14px;
        color: #666666;
    }
    .content_view>.col_view{
        max-width: 640px;
        width: 100%;
        margin: 0 auto;
        padding-bottom: 188px;
        box-sizing: border-box;
        height: 332px;
        overflow: hidden;
    }
    .content_view>.col_view >div p{
        font-size: 13px;
        color: #00021D;
        margin-top: 16px;
    }
    .content_view>.col_view >div img{
        width: 28px;
        height: 28px;
    }
    .alert_view{
        width: 100%;
        box-sizing: border-box;
        margin: 82px auto 48px;
        height: 200px;
        background-color: #f1f5f9;
        padding: 48px 16px;
        position: relative;
        display: none;
    }
    .alert_view p{
        font-size: 14px;
    }
    .alert_view> .triangle{
        position: absolute;
        content: '';
        border-top: 10px solid transparent;
        border-right:10px solid transparent;
        border-bottom: 10px solid #f1f5f9;
        border-left: 10px solid transparent;
        top: -18px;
        left: 0px;
    }
}