.login_box {
    width: 936px;
    height: 754px;
}

.account_titie {
    /* overflow: hidden; */
    height: 64px;
    /* line-height: 64px; */
    background: rgba(230, 237, 244, 1);
}

.account_titie>span {
    float: left;

    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 2, 29, 1);
    margin-left: 32px;
    margin-top: 20px;
}

.account_select {
    float: right;
}

.account_select {
    width: 105px;
    height: 30px;
    line-height: 30px;
    border: 1px solid rgba(13, 76, 154, 1);
    margin-right: 32px;
    margin-top: 17px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.account_select_arrows {
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #000;
    position: relative;
    top: -4px;
    left: 2px;
}

.account_select_list {
    width: 104px;
    height: 119px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.1);
    position: absolute;
    margin: 0;
    padding: 0;
    list-style-type: none;
    top: 30px;
    left: 0;

}

.account_select_list li {
    height: 40px;
    line-height: 40px;
}

.account_select_list li:hover {
    background: #eee
}

.account_body {
    margin-left: 32px;
}

.account_body p:first-child {
    width: 64px;
    height: 22px;
    font-size: 16px;
    margin-top: 40px;

    margin-bottom: 20px;
}

.company {
    width: 64px;
    height: 22px;
    font-size: 16px;
    margin-top: 20px;

    margin-bottom: 20px;
}

.control-label {
    min-width: 56px;
    text-align: left !important;
    font-size: 14px;
}

.account_body input {
    display: inline-block;
    width: 324px;
    height: 32px;
    border-radius: 4px;
    border: 1px solid rgba(232, 232, 232, 1);
}

.remark {
    width: 64px;
    height: 22px;
    font-size: 16px;
    margin-top: 54px;
    margin-bottom: 24px;
}

.account_footer {
    width: 100%;
    height: 84px;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0px -1px 0px 0px rgba(238, 238, 238, 1);
    position: absolute;
    bottom: 0;
    text-align: right;
}

.account_footer div {
    float: right;
    margin-top: 20px;
    width: 136px;
    height: 44px;
    line-height: 44px;
    background: rgba(13, 76, 154, 1);
    border-radius: 2px;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    margin-right: 32px;
    cursor: pointer;
}

.form-group {
    margin-bottom: 26px !important;
}

.company_pos {
    margin-top: 18px !important;
    margin-bottom: 10px !important;
}

.unit {
    position: absolute;
    right: 59px;
    top: 7px;
    display: inline-block;
    width: 14px;
    height: 20px;
    font-size: 14px;
    color: rgba(153, 153, 153, 1);
    line-height: 20px;
}

.account_suss {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.4);
}

.account_suss_box {
    width: 376px;
    height: 401px;
    background: rgba(255, 255, 255, 1);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.account_suss_box img {
    margin-top: 48px;
    margin-bottom: 17px;
}

.account_suss_box p {
    font-size: 20px;
    /* margin-top: 48px; */
    margin-bottom: 32px;
    color: rgba(13, 76, 154, 1);

}

.audit {
    width: 312px;
    height: 78px;
    font-size: 16px;
    color: rgba(102, 102, 102, 1);
    line-height: 26px;
    margin: 0 auto;
    margin-bottom: 55px;
}

.back_index {
    width: 312px;
    height: 48px;
    line-height: 48px;
    background: rgba(13, 76, 154, 1);
    color: #fff;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
}