.content_body {
    /* width: 80%; */
    margin: 0 auto;
    width: 1400px;
}

.content_body>ul {
    overflow: hidden;
}

.content_body>ul>li {
    margin: 64px 0 80px;
    float: left;
    width: 140px;
    height: 37px;
    line-height: 37px;
    margin-right: 40px;
    color: #666666;
    border: 1px solid #ddd;
    text-align: center;
    cursor: pointer;
    
}

.content_body>ul>li:first-child {
    background: #0D4C9A;
    color: #fff;
}

.content_body_newlist>ul>li{
    overflow: hidden;
    padding: 40px 0;
    border-bottom: 1px solid #EEEEEE;
    cursor: pointer;
}
.content_body_newlist>ul>li .col-md-3{
    
}
.content_body_subtitle {
    max-width: 576px;
    font-size: 18px;
    color: #00021D;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content_body_time{
    float: right;
    color: #999999;
    font-size: 18px;
}
.content_body_particulars{
    font-size: 16px;
    color: #999;
}
.paging{
    margin: 54px 0;
   text-align: right;
}
.paging>p{
    overflow: hidden;
    display: inline-block;
    width: 30%;
    text-align: right;

}
#kkpager{
    display: inline-block;
    width: 430px;
    
    text-align: right!important;
}