/* header */
.container-fluid {
    height: 72px;
}

.navbar-left {
    margin-left: 90px;
}

#header .navbar {
    height: 72px;
    border: none;
    position: static !important;
    margin-bottom: 0;
    line-height: 72px;
}

#bs_navbar {
    height: 72px;
}

.pople {
    margin-left: 49px;
}

.header .navbar-default>div>div>ul>li {
    min-height: 72px;
    line-height: 72px !important;
    text-align: left;
    overflow: hidden;
}

.navbar-nav>li>a {
    margin: 10px 15px;
    position: relative;
}

.records_color {
    height: 45px;
    line-height: 45px;
    background: #08438D;
    text-align: center;
}

.footer_left {
    /* width: 80%; */
    position: relative;
    margin: 31px auto 0;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}

.footer_center {
    /* width:80%;
    margin: 0 auto; */
    border-right: 1px solid rgba(255, 255, 255, 0.2)
}

.right_box {
    margin: 37px 0 37px 8%;

}

.right_box>ul {
    margin-top: 24px;
}

.right_box>ul>li {
    font-size: 14px;
    margin-top: 18px;
}

.right_box>ul>li>span {

    margin-left: 20px;
}

.footer_contact {

    font-size: 20px;
}

.footer_con>a {
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    text-decoration: underline;
}

.weibo {
    margin-right: 42px;
    cursor: pointer;
}

.wechat {
    cursor: pointer;
}


.weibo_img {
    position: absolute;
    width: 122px;
    height: 156px;
    background: #fff;
    top: -65px;
    left: 216px;
    border: 1px solid rgba(13, 76, 154, 0.4);
    z-index: 100;
    display: none;

}

.weibo_img span,
.wechat_img span {
    display: inline-block;
    font-size: 12px;
    color: rgba(13, 76, 154, 1);
    margin: 10px auto 12px;
}

.wechat_img img,
.wechat_img img {
    margin: 0 auto;
}

.wechat_img {
    position: absolute;
    width: 122px;
    height: 156px;
    background: #fff;
    top: -65px;
    left: 216px;
    border: 1px solid rgba(13, 76, 154, 0.4);
    z-index: 100;
    display: none;
}

.arrows_weibo,
.arrows_wechat {
    display: inline-block;
    width: 15px;
    height: 15px;
    background: #ffffff;
    position: absolute;




}

.contact_color {
    overflow: hidden;
    /* height: 222px; */
    background: #0D4C9A;
    /* margin-bottom: 45px; */
}

.contact_color,
.records_color {
    color: rgba(255, 255, 255, 0.7);

}

.arrows_weibo {
    bottom: -18px;
    left: 10px;
    transform: rotate(45deg);
    z-index: 101;
}

.arrows_wechat {
    bottom: -18px;
    right: 10px;
    transform: rotate(45deg);
    z-index: 101;
}


.navbar-default {
    background: #fff;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgba(13, 76, 154, 1)
}

.product_list1,
.solution_list1 {
    display: none;
}

.showH5 {
    display: none!important;
}

@media screen and (max-device-width: 768px) {
    .showH51 {
        display: none ;
    }

    #product_btn>a {
        width: 80%;
    }
    #solution_btn>a {
        width: 80%;
    }


    #product_btn>ul>li {
        float: left;
        width: 28%;
        text-align: center;
        margin-left: 15px;
    }

    #solution_btn>ul>li {
        float: left;
        width: 42%;
        text-align: center;
        margin-left: 15px;
    }

    .footer_con>a {
        color: rgba(255, 255, 255, 0.8);
        cursor: pointer;
        text-decoration: underline;
    }

    .footer_left p:first-child {
        float: left;
    }

    .footer_left p:first-child>img {
        height: 30px;
    }

    .footer_left p:last-child {
        float: right;
    }

    .footer_left p:last-child>img {
        height: 30px;
    }

    .right_box {
        margin-left: 0;
        overflow: hidden;
        /* margin-top: 0; */
    }

    .right_box>ul>li>span {

        margin-left: 14px;
    }

    .footer_left {
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        margin-bottom: 0;
    }

    .weibo {
        margin-right: 20px !important;
    }

    .footer_right {
        margin: 0;
        border-bottom: 1px solid transparent;
    }

    .footer_center {

        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2)
    }

    .right_box>ul {
        margin-bottom: 24px;
    }

    .records_color {
        height: 64px;
    }

    .records_color p>span:first-child {
        display: block;
        height: 17px;
        font-size: 12px;
    }

    .records_color p>span:nth-child(2) {
        display: none;
    }

    .records_color p>span:last-child {
        display: block;
        height: 17px;
        font-size: 12px;
    }

    .navbar-nav {
        position: relative;
        z-index: 1000;
        background: rgba(7, 43, 87, 1)
    }

    .navbar-left {
        margin-left: 0;
    }

    .navbar-nav {
        margin: 0;
        color: #fff;
    }

    .navbar-collapse {
        padding: 0 !important;
    }

    .navbar-nav>li>a {
        color: #fff !important;
    }

    .navbar-toggle {
        position: absolute;
        left: 15px;
        top: 10px;
    }

    .navbar-collapse {
        margin-top: -72px;
    }

    .close1 {
        font-size: 30px;
        color: #fff;
        opacity: 1;
        position: absolute;
        left: 30px;

        font-weight: 500;
    }

    .container-fluid {
        text-align: center;
    }

    .pople {
        margin-left: 0px;
    }

    .showpc {
        display: none !important;
    }

    .showH5 {
        display: block !important;
    }

    span.arrow-down {
        position: absolute;
        top: 20px;
        right: 35px;
        border-right: 2px solid #fff;
        border-top: 2px solid #fff;
        height: 12px;
        width: 12px;
        transform: rotate(-135deg);
        -webkit-transform: rotate(135deg);
        border-left: 2px solid transparent;
        border-bottom: 2px solid transparent;
        display: inline-block;
        -moz-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
    }

}