
#body{
    min-width: 1440px;
}
.content_title{
    width: 100%;
    min-width: 1440px;
}
.content_title img{
    width:100%;
}
.content{
    width: 1440px;
    margin: 0 auto;
}
.partner{
    width: 80%;
    margin: 88px auto 0;
    text-align: center;
}
.partner h2{
    font-size: 28px;
    color: #00021D;
}
.partner p{
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 18px;
    color: #666666;
}
.partner > .content{
    width: 1128px;
    margin: 0 auto;
}
.partner>.content>li{
    overflow: hidden;
}
.partner>.content>li>div>img{
    width: 168px;
}
.partner>.content>li{
    margin-bottom: 24px;
}
.partner>.content>li:last-child{
    margin-bottom: 0;
}

.title-form{
    text-align: center;
    margin: 88px 0 64px; 
}
.title-form h1{
    font-size: 28px;
    color: #00021D;
    margin-bottom: 24px;
    font-weight: 600;
}
.title-form span{
    font-size: 18px;
    color: #666666;
    font-weight:300;
}
.cur-form{
    width: 80%;
    text-align: center;
    margin: 0 auto 120px;
}
.form-control{
    height: 40px;
}
.control-label{
    font-size: 16px;
}
.pc-view{
    display: block;
}
.phone-view{
    display: none;
}
.swiper-slide-prev div{
    float: right;
}
.swiper-slide-prev div div{
    float: left;
}
.swiper-slide-next div{
    float: left;
}
.text-view{
    background-color: #fff;
    width: 552px;
    height: 395px;
    margin: 0 auto;
    padding: 39px 40px;
    border-radius: 16px;
    overflow: hidden;
}
.text-view p{
    font-size: 18px;
    color: #00021D;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0;
}
.text-view > .bottom-view{
    overflow: hidden;
    margin-top: 32px;
}
.text-view > .bottom-view .left{
    background-color: #999;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    float: left;
    margin-right: 20px;
}
.text-view > .bottom-view .right p{
    font-size: 20px;
    color: #00021D;
    margin-bottom: 8px;
    font-weight: 500;
}
.text-view > .bottom-view .right span{
    margin-right: 10px;
    font-size: 16px;
    color: #666;
}
.swiper-out{
    margin-top: 67px;
}
.mid-top{
    margin: 64px auto;
    text-align: center;
}
.mid-top p{
    font-size: 28px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 24px;
}
.mid-top span{
    font-size: 18px;
    font-weight: 300;
    color: #fff;
}
.swiper-slide{
    height: 395px;
    border-radius: 16px;
    overflow: hidden;
}
.mid_preBtn{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 92px;
}
.mid_nextBtn{
    width: 50px;
    height: 50px;
    transform: rotate(180deg);
    right: 92px;
}
.swiper-slide-next, .swiper-slide-prev{
    opacity: 0.3 !important;
}
.form-control{
    border-color: #DEDEDE !important;
}
.btn-primary{
    background-color: #0D4C9A !important;
}

@media screen and (max-width: 640px){
    #body{
        min-width: 320px;
        max-width: 640px;
    }
    .content_title{
        width: 100%;
        min-width: 320px;
        max-width: 640px;
    }
    .content{
        width: 100%;
        margin: 0 auto;
    }

    .partner{
        width: 100%;
        margin: 44px auto 0;
        text-align: center;
    }
    .partner h2{
        font-size: 22px;
        color: #00021D;
    }
    .partner p{
        margin-top: 16px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        font-size: 14px;
        color: #666666;
    }
    .partner > .content{
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
        min-height: 0px;
    }
    .item{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .item>img{
        width: 104px !important;
        margin-bottom: 17px;
    }
    .partner>.content>li{
        margin-bottom: 0;
    }

    .title-form{
        text-align: center;
        margin: 48px 0 34px; 
        padding: 0 32px;
    }
    .title-form h1{
        font-size: 22px;
        color: #00021D;
        margin-bottom: 16px;
    }
    .title-form span{
        font-size: 14px;
        color: #666666;
    }
    .submit-phone{
        width: 100% !important;
    }

    .cur-form{
        width: 100%;
        text-align: center;
        margin: 0 auto 48px;
        padding: 0 16px;
    }
    .form-control{
        height: 38px;
    }
    .control-label{
        font-size: 14px !important;
        line-height: 38px;
        padding: 0;
    }
    .company-view{
        padding: 0;
        padding-right: 16px;
    }
    .company-view1{
        padding: 0;
    }
    .pc-view{
        display: none;
    }
    .phone-view{
        display: block;
    }

    .sms-title{
        float: left;
        font-size: 14px !important;
    }
    .sms-input{
        float: left;
    }
    .sms-btn{
        float: left;
        font-size: 12px !important;
    }
    .xSwiper{
        width: 100%;
        margin-top: 39px;
        padding: 0 16px 43px;
        background-color: rgba(13,76,154,1);
        overflow: hidden;
    }
    .xSwiper >.top{
        text-align: center;
        overflow: hidden;
    }
    .xSwiper >.top h1{
        margin-top: 32px;
        font-size: 22px;
        color: #ffffff;
    }
    .xSwiper >.top span{
        display: block;
        font-size: 14px;
        margin-top: 16px;
        color: #fff;
    }
    .swiper-container{
        width: 100%;
        margin-top: 32px;
        border-radius: 10px;
    }
    .swiper-slide{
        width: 100%;
        padding: 24px 24px;
        background-color: #fff;
        height: auto;
        border-radius: 0;
        overflow: auto;
    }
    .swiper-slide p{
        font-size: 12px;
        color: #00021D;
    }
    .swiper-slide >.bottom{
        margin-top: 20px;
        overflow: hidden;
    }
    .swiper-slide >.bottom .icon{
        background-color: #999999;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        overflow: hidden;
        float: left;
    }
    .swiper-slide >.bottom .info{
        float: left;
        margin-left: 13px;
    }
    .swiper-slide >.bottom .info p{
        font-size: 13px;
        color: #00021D;
        font-weight:500;
    }
    .swiper-slide >.bottom .info span{
        font-size: 10px;
        color: #666666;
        margin-right: 5px;
    }
    .swiper-slide-next, .swiper-slide-prev{
        opacity: 1 !important;
    }

    .swiper-pagination{
        margin-left: calc(50% - 64px); ;
        margin-top: 4px;
    }
    .swiper-pagination-bullet{
        background-color: #fff;
        opacity: 0.29;
        width: 20px;
        height: 2px;
        margin-right: 12px;
        border-radius: 1px;
    }
    .swiper-pagination-bullet-active {
        background-color: #fff !important;
        opacity: 1;
    }
    .swiper-pagination{
        text-align: center;
    }
}