
#body{
    min-width: 1440px;
}
.content_title{
    width: 100%;
    min-width: 1440px;
}
.content_title img{
    width:100%;
}
.content{
    width: 1440px;
    margin: 0 auto;
}
.partner{
    width: 80%;
    margin: 88px auto 0;
    text-align: center;
}
.partner h2{
    font-size: 28px;
    color: #00021D;
}
.partner p{
    margin-top: 24px;
    margin-bottom: 64px;
    font-size: 18px;
    color: #666666;
}
.partner > .content{
    width: 1128px;
    margin: 0 auto;
}
.partner>.content>li{
    overflow: hidden;
}
.partner>.content>li{
    margin-bottom: 24px;
}
.partner>.content>li:last-child{
    margin-bottom: 0;
}
.swiper-container{
    width: 70% !important;
}
.swiper-slide{
    background-color: #999999;
    width: 100% !important;
    padding: 0 200px;
}

.title-form{
    text-align: center;
    margin: 88px 0 64px; 
}
.title-form h1{
    font-size: 28px;
    color: #00021D;
    margin-bottom: 24px;
}
.title-form span{
    font-size: 18px;
    color: #666666;
}
.cur-form{
    width: 80%;
    text-align: center;
    margin: 0 auto 120px;
}
.form-control{
    height: 40px;
}
.control-label{
    font-size: 16px;
}
.pc-view{
    display: block;
}
.phone-view{
    display: none;
}

@media screen and (max-width: 640px){
    #body{
        min-width: 320px;
        max-width: 640px;
    }
    .content_title{
        width: 100%;
        min-width: 320px;
        max-width: 640px;
    }
    .content{
        width: 100%;
        margin: 0 auto;
    }

    .partner{
        width: 100%;
        margin: 44px auto 0;
        text-align: center;
    }
    .partner h2{
        font-size: 22px;
        color: #00021D;
    }
    .partner p{
        margin-top: 16px;
        margin-bottom: 32px;
        margin-left: 32px;
        margin-right: 32px;
        font-size: 14px;
        color: #666666;
    }
    .partner > .content{
        width: 100%;
        margin: 0 auto;
        padding: 0 16px;
    }
    .item>img{
        width: 104px;
        margin-bottom: 17px;
    }
    .partner>.content>li{
        margin-bottom: 0;
    }

    .title-form{
        text-align: center;
        margin: 48px 0 34px; 
        padding: 0 32px;
    }
    .title-form h1{
        font-size: 22px;
        color: #00021D;
        margin-bottom: 16px;
    }
    .title-form span{
        font-size: 14px;
        color: #666666;
    }

    .cur-form{
        width: 100%;
        text-align: center;
        margin: 0 auto 48px;
        padding: 0 16px;
    }
    .form-control{
        height: 38px;
    }
    .control-label{
        font-size: 14px;
        line-height: 38px;
        padding: 0;
    }
    .company-view{
        padding: 0;
        padding-right: 16px;
    }
    .company-view1{
        padding: 0;
    }
    .pc-view{
        display: none;
    }
    .phone-view{
        display: block;
    }

    .sms-title{
        float: left;
    }
    .sms-input{
        float: left;
    }
    .sms-btn{
        float: left;
    }
}