.content{
    min-width: 1440px;
    margin: 0 auto;
}
.content>img{
    width: 100%;
}
.info-content{
    width: 1440px;
    margin: 0 auto 64px;
    overflow: hidden;
}
.text_view{
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.text_view>span{
    font-size: 28px;
    color: #00021D;
}
.text_view>p{
    font-size: 18px;
    color: #666666;
    margin-top: 24px;
}
.product{
    margin-top: 88px;
}
.scenario{
    margin-top: 120px;
}
.content_body_img{
    width: 80%;
    margin: 64px auto 24px;
    overflow: hidden;
}
.content_body_img >div{
    overflow: hidden;
}
.bottom_images{
    margin-top: 24px;
}