.content_header{
    padding: 29px 0 88px;
}
.content_header> .content_header_top{
    width: 70%;
    margin-left: 15%;
    overflow: hidden;
}
.content_header> .content_header_top> .top_item{
    float: left;
    width: 168px;
    margin-right: 88px;
}
.content_header> .content_header_top> .top_item span{
    font-size: 15px;
    color: #00021D;
}
.content_header> .content_header_top> .top_item span img{
    width: 19px;
    height: 19px;
    margin-top: -4px;
}
.content_header> .content_header_top> .top_item p{
    font-size: 14px;
    color: #666666;
    margin-top: 21px;
}
.content_header>.content_header_bottom{
    margin-top: 40px;
    width: 100%;
    height: 133px;
}
.content_header>.content_header_bottom>img{
    width: 100%;
    height: 100%;
}

.content_detail{
    margin-bottom: 88px;
}
.content_detail>.content_detail_header{
    text-align: center;
    margin-right: 252px;
    margin-left: 252px;
}
.content_detail>.content_detail_header h3{
    font-size: 28px;
    color: #00021D;
    margin-bottom: 24px;
}
.content_detail>.content_detail_header span{
    font-size: 18px;
    color: #666666;
}

.content_middle{
    width: 100%;
    max-width: 1440px;
    margin: 64px auto;
    overflow: hidden;
}
.imagetext_img img{
    width: 100%;
    height: 492px;
}
.imagetext_box {
    height: 492px;
    width: 50%;   
    padding:0!important;
}
.imagetext_subbox p{
    margin-top: 88px;
}
.imagetext_subbox p span{
    font-size: 24px;
    color: #00021D;
}
.imagetext_section{
    font-size: 18px;
    color: #666666;
    margin-top: 49px;
    margin-bottom: 48px;
}
.imagetext_section+div {
    width: 156px;
    height: 42px;
    line-height: 42px;
    border: 1px solid rgba(13, 76, 154, 1);
    text-align: center;
    color: rgba(13, 76, 154, 1);
    font-size: 16px;
}
.imagetext_section+div>span:first-child:after {
    content: "";
    width: 0.8rem;
    height: 0.8rem;
    margin-left: 10px;
    display: inline-block;
    border-top: 1px solid rgba(13, 76, 154, 1);
    border-right: 1px solid rgba(13, 76, 154, 1);
    transform: rotate(45deg);
}
.imagetext_box_gray{
    background-color: #f5f7fb;
}
.imagetext_img{
    padding:0!important;
}